@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Microsoft yahei";
}

html, body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent;
}

ol, ul, textarea, input, option, th, td {
  padding: 0;
}

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

input[type=text], textarea {
  -webkit-appearance: none;
}

input:focus {
  -webkit-user-modify: read-write-plaintext-only;
}

fieldset, img {
  border: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, textarea, input {
  outline: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12梅16=73.4% */
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625梅16=73.2% */
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525梅16=94% */
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18梅16=94% */
  }
}
@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21梅16=109% */
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24梅16=125% */
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27梅16=146.43% */
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125梅16=146.43% */
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30梅16=146.43% */
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36梅16=146.43% */
  }
}
#warp-1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
#warp-1 #warp-2 {
  position: absolute;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#warp-1 #warp-2 #header-1 {
  flex: 3.16;
  height: 56.2vw;
  background: #2d322c;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#warp-1 #warp-2 #header-1 img {
  width: 21.3vw;
  height: 21.3vw;
}
#warp-1 #warp-2 #header-1 img:nth-of-type(2) {
  margin: 0 2.31vw;
}
#warp-1 #warp-2 #section-header {
  flex: 1.6;
  height: 23.9vw;
  background: #ffffff;
  padding: 4.7vw 4.4vw;
  letter-spacing: 0.8vw;
}
#warp-1 #warp-2 #section-header h2 {
  font-size: 1.2rem;
}
#warp-1 #warp-2 #section-header p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #b7b7b7;
}
#warp-1 #warp-2 #section-middle {
  background: #FFFFFF;
  height: auto;
}
#warp-1 #warp-2 #section-middle #content {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
#warp-1 #warp-2 #section-middle #content li {
  width: 49.3vw;
  height: 69vw;
  background: #FFFFFF;
  border: 1px solid #f5f5f5;
  position: relative;
}
#warp-1 #warp-2 #section-middle #content li a {
  display: block;
  color: #000000;
}
#warp-1 #warp-2 #section-middle #content li .Image {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 50vw;
  justify-content: center;
  align-items: center;
}
#warp-1 #warp-2 #section-middle #content li .Image img {
  width: 16.433vw;
  height: auto;
}
#warp-1 #warp-2 #section-middle #content li p {
  position: absolute;
  color: #868686;
  letter-spacing: 0.5vw;
  left: 1vw;
}
#warp-1 #warp-2 #section-middle #content li p span {
  position: absolute;
  color: #000000;
  letter-spacing: normal;
  left: 5vw;
}
#warp-1 #warp-2 #section-middle #content li .icon-xihuan {
  font-size: 6vw;
  position: absolute;
  right: 2vw;
  bottom: 3vw;
}

#warp-header {
  position: fixed;
  top: 0;
  width: 92vw;
  padding: 4vw;
}
#warp-header a {
  color: #000000;
}
#warp-header .icon-gouwuche1 {
  float: right;
  font-size: 3rem;
  position: relative;
}
#warp-header .icon-gouwuche1 i {
  font-size: 0.5rem;
  text-align: center;
  background: #ffd444;
  border-radius: 50%;
  top: -0.1rem;
  position: absolute;
  display: inline-block;
  color: #000;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-weight: normal;
  left: 1.5rem;
}
#warp-header .icon-xiangzuoyuanjiantou {
  float: left;
  margin-top: 1vw;
  font-size: 3rem;
}

/*# sourceMappingURL=goodslist.css.map */
