@charset "utf-8";
@import "mobile";
body,html{ width: 100%; height: 100%}
.warp{
     width: 100%;
     height: 100%;
}
.dhy{
    width: 100%;
     height: 100%;
}
.login1{ width: 100%; height: 100%;display: block;}

