@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: "Microsoft yahei";
}

html, body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f4f0;
  -webkit-tap-highlight-color: transparent;
}

ol, ul, textarea, input, option, th, td {
  padding: 0;
}

.page {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

input[type=text], textarea {
  -webkit-appearance: none;
}

input:focus {
  -webkit-user-modify: read-write-plaintext-only;
}

fieldset, img {
  border: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, textarea, input {
  outline: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 75% !important;
    /* 12梅16=73.4% */
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 87.89063% !important;
    /* 14.0625梅16=73.2% */
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 97.03% !important;
    /* 15.525梅16=94% */
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 112.5% !important;
    /* 18梅16=94% */
  }
}
@media only screen and (min-width: 560px) {
  html {
    font-size: 131.25% !important;
    /* 21梅16=109% */
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 150% !important;
    /* 24梅16=125% */
  }
}
@media only screen and (min-width: 720px) {
  html {
    font-size: 168.75% !important;
    /* 27梅16=146.43% */
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 175.78125% !important;
    /* 28.125梅16=146.43% */
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 187.5% !important;
    /* 30梅16=146.43% */
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 225% !important;
    /* 36梅16=146.43% */
  }
}
body, html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#header {
  width: 100%;
  height: 3.66667rem;
  position: fixed;
  z-index: 99;
  top: 0;
  line-height: 3.66667rem;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  color: #000000;
  background: #ffffff;
}
#header span {
  font-size: 1.5rem !important;
}
#header span i {
  font-size: 1.6rem !important;
}
#header span {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
#header .text {
  font-weight: 700;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  letter-spacing: 0.8rem;
}

a {
  color: #000000;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#set-content {
  width: 100vw;
  margin-top: 3.78667rem;
  height: 8.66667rem;
  font-size: 1rem;
}
#set-content #changepassword, #set-content #clearcache {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: #FFFFFF;
  height: 4.12698rem;
  line-height: 4.12698rem;
  padding-left: 1rem;
  text-align: center;
}
#set-content #changepassword span, #set-content #clearcache span {
  -webkit-flex: 1.4;
  -ms-flex: 1.4;
  flex: 1.4;
  -webkit-box-flex: 1.4;
  -moz-box-flex: 1.4;
  display: block;
}
#set-content #changepassword .kong, #set-content #clearcache .kong {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  -webkit-box-flex: 6;
  -moz-box-flex: 6;
}
#set-content #clearcache {
  margin-top: 0.09rem;
}

#logout {
  font-size: 1rem;
  margin-top: 1.5rem;
  background: #FFFFFF;
  height: 3.66667rem;
  line-height: 3.66667rem;
  text-align: center;
  color: #FF0000;
}
#logout a {
  color: #FF0000;
}

#showderset {
  width: 100vw;
  height: 100vh;
  background: rgba(12, 12, 12, 0.5);
  position: absolute;
  top: 0;
  z-index: 100;
  display: none;
}
#showderset #footer {
  position: absolute;
  bottom: -10.625rem;
  width: 90vw;
  margin-left: 5vw;
  height: 10.625rem;
  overflow: hidden;
  text-align: center;
}
#showderset #footer #yesorno {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.2rem;
  background: #FFFFFF;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 0.8rem;
}
#showderset #footer #yes {
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
#showderset #footer #yes, #showderset #footer #no {
  width: 100%;
  height: 3.4375rem;
  line-height: 3.4375rem;
  background: #FFFFFF;
  font-size: 1.5rem;
  color: #007AFF;
  letter-spacing: 0.5rem;
}
#showderset #footer #no {
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}

/*# sourceMappingURL=set.css.map */
